.paginationContainer {
  display: flex;
  margin-top: 10px;
}

.paginationItem {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #dfe3e8;
  display: flex;
  margin: auto;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-inline: 4px;
  border-radius: 4px;
  cursor: pointer;
}

svg {
  stroke-width: 2px;
  width: 18px;
  height: 18px;
}

.active {
  color: #0052fe;
  border: solid #0052fe 1px;
}
