.navbarContainer {
  display: flex;
  background-color: black;
}

.navTitle {
  color: white;
  /* margin-left: 14rem; */
  font-size: 1.5rem;
}

.searchIcon {
  font-size: 1.6rem;
  align-items: flex-end;
  color: white;
  margin-left: 50rem;
  margin-top: 2rem;
}

.navbarSubContainer {
  display: flex;
  margin-left: 15rem;
}

.cryptoLogo {
  background-color: white;
  margin: 0 10px;
  width: 70px;
}
