.nameCell {
  text-align: start;
  font-size: 1rem;
}

.cryptoImage {
  margin-right: 0.5rem;
  width: 30px;
}

.cryptoSymbol {
  margin-left: 0.3rem;
  color: gray;
}

.priceCell {
  text-align: end;
  padding-right: 20px;
}

.risePercentage {
  color: #16c784;
}

.dropPercentage {
  color: #ea3943;
}

.upArrowIcon {
  color: #16c784;
  width: 8%;
}

.downArrowIcon {
  color: #ea3943;
}
