.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cryptoTableContainer {
  display: flex;
}

.paginationContainer {
  display: flex;
  margin-left: 32rem;
}

.middlePage {
  margin-left: 27rem;
}

.nameCell {
  text-align: start;
  font-size: 1rem;
}

.cryptoImage {
  margin-right: 0.5rem;
  width: 30px;
}

.cryptoSymbol {
  margin-left: 0.3rem;
  color: gray;
}

.priceCell {
  text-align: end;
  padding-right: 20px;
}

.risePercentage {
  color: #16c784;
}

.dropPercentage {
  color: #ea3943;
}

.upArrowIcon {
  color: #16c784;
  width: 8%;
}

.downArrowIcon {
  color: #ea3943;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  align-items: center;
  font-size: 2rem;
}
